<!-- <p>add-post works!</p>
<h2 class="text-primary text-center my-2">addition your post</h2>

<form [formGroup]="addPostForm" (ngSubmit)="addPost()">
    <div>{{msg}}</div>
    <div class="mb-3">
        <input formControlName="title" placeholder="name" class="form-control">
    </div>
    <div class="mb-3">
      <input formControlName="description" placeholder="email" class="form-control">
    </div>
    <div class="mb-3">
        <input formControlName="coments" placeholder="password" class="form-control">
    </div>
    <div class="mb-3">
      <input formControlName="postType" placeholder="age" class="form-control">
    </div>
    <div class="mb-3">
      <input formControlName="gender" placeholder="gender" class="form-control">
    </div>
    <div class="mb-3">
      <input type="file" formControlName="image" placeholder="image" class="form-control" (change)="onUploadFile($event)">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" (click)="handleUpload()">add Post</button>
    </div>
</form> -->
